@model IEnumerable<PTFGym.Models.Termin>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

<h1>Index</h1>
<a class="u-active-black u-btn u-button-style u-hover-black u-palette-1-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" asp-action="Create">Kreiraj novi </a>

<table class="table">
    <thead>
        <tr>
            <th>
                Datum i vrijeme termina
            </th>
            <th>
                Vrsta treninga
            </th>
            <th>
                Broj članova
            </th>
            <th>
                Trener
            </th>

            <th> Uredi</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaTreninga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaksimalniBrojClanova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trener.Ime)
            </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn" style="background-color: #478AC9; color:white;">
                                Uredi
                            </button>
                        </a>
                        |
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button type="button" class="btn" style="background-color: #478AC9; color:white;">
                                Detalji
                            </button>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                               <button type="button" class="btn btn-danger" style=" color:white;">
                                    Obriši
                                </button>
                        </a>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>